
.titleContainer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Greek Dalek';
    font-size: 50px;
    color: white;
    margin-top: -77px;
}

.titleBanner {
    background-image: url('images/tileablePattern.png');
    height: 30px;
    width: 100%;
    background-repeat: repeat-x;
    background-size: auto 100%;
    color:blue;
    margin-top: -18px;
}

.ai-input {
  border-radius: 15px;
  min-height: 46px;
  max-height: 150px;
  height: 47px;
  width: 50%;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 20px rgba(33, 40, 48, 0.056);
  border: none;
  padding: 10px 15px;
  transition: 0.8s;
  font-size: 17px;
}
.ai-input:focus {
  outline: none;
  box-shadow: 0 0 40px rgba(127, 187, 251, 0.673);
  transition: 0.5s;
}
