/* body {
  font-size: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

@font-face {
  font-family: 'Greek Dalek';
  src: url(DalekPinpointBold.woff) format('woff');
}

.welcomeContainer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(31, 36, 132);
  height: 500px;
  margin-top:-50px;
}

.greetingText {
  font-size: 45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  color: white;
}

.greetingName {
  font-family: 'Greek Dalek';
  color: white;
  font-size: 50px;
  margin-top: -15px;
}


.separationWaveContainer {
  margin-top: -20px;
}

.widgetContainer {
  background-color: #ffffff;
  height: 500px;
}


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #172865; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 18px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 40px 8px 8px 32px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.2s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #bbe7ff;
  margin-left: 2px;
}



/* The button used to open the sidebar */
.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: #11111100;
  color: white;
  padding: 10px 15px;
  border: none;
  transition: 0.3s;
}

.openbtn:hover {
  transform: scaleX(1.2);
}

.buttonContainer {
  background-color: rgb(31, 36, 132);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}